#docker-compose.yml
build_info.txt
#prometheus/
docker/*.env
*.env
## python specific
*.pyc
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
kubernetes/terraform-gke/.terraform/
terraform-gke-keyfile.json
*.crt
*.key